In [1]:
"Hello World"

[1] "Hello World"

In [2]:
5+8

[1] 13

In [37]:
# Assigning Variables
x <- 10
y <- 5
x <<- 10
5 -> y
15 ->> z
"Performing Operations"
x+y
x-y
x*y
x/y
x^y
z%%x             # Remainder ---------> % %
z%/%y            # Integer Division ---> % / %

[1] "Performing Operations"

[1] 15

[1] 5

[1] 50

[1] 2

[1] 1e+05

[1] 5

[1] 3

In [9]:
# Concate
paste("Value of X is = ", x)
s1 <- 'Welcome to '
s2 <- 'My Tutorial'
paste(s1, s2)

[1] "Value of X is =  10"

[1] "Welcome to  My Tutorial"

In [11]:
# Assigning the same value to multiple variables
f1 <- f2 <- f3 <- 'Oranges'
f1
f2
f3

[1] "Oranges"

[1] "Oranges"

[1] "Oranges"

In [12]:
## NOTE:
# Variables can start with a period (.) or with a letter nut not with (_) or with a number.
# If it starts with a period (.), then it should be followed by a letter and not a number.

In [17]:
# Data Types
numeric.1 <- 15.4
numeric <- 10
character <- "Priya"
integer <- 50L
complex <- 9 + 5i
logical <- TRUE     # The BOOL should be in All caps or else it will consider it as a string/character.

class(numeric.1)
class(numeric)
class(character)
class(integer)
class(complex)
class(logical)

[1] "numeric"

[1] "numeric"

[1] "character"

[1] "integer"

[1] "complex"

[1] "logical"

In [19]:
# Type Conversion
t1 <- as.numeric(integer)
t2 <- as.integer(numeric)
t3 <- as.complex(numeric.1)
paste(t1, ", ", t2, ", ", t3)
class(t1)
class(t2)
class(t3)

[1] "50 ,  10 ,  15.4+0i"

[1] "numeric"

[1] "integer"

[1] "complex"

In [23]:
# Other functions
max(5, 10, 15)
min(5, 78, 0.5)
sqrt(25)
abs(-7.8)
# Rounding up or down
ceiling(2.3)
floor(4.5)

[1] 15

[1] 0.5

[1] 5

[1] 7.8

[1] 3

[1] 4

In [25]:
# Multi-line string
mstr <- "This is a multi-line string,
you can assign the value by using double quotes.
So this is how it works..."
cat(mstr)

This is a multi-line string,
you can assign the value by using double quotes.
So this is how it works...

In [30]:
# Length of the string
str1 = "Hello World!"
nchar(str1)
grepl("H", str1)
grepl("X", str1)

[1] 12

[1] TRUE

[1] FALSE

In [32]:
# Escape Char
"Hello World! ---> This is a \"String\"."
# \\	Backslash
# \n	New Line
# \r	Carriage Return
# \t	Tab
# \b	Backspace

[1] "Hello World! ---> This is a \"String\"."

In [38]:
# Logical or Booleans
a <- 200
b <- 33

if (b > a) {
  paste(b, " is greater than ", a)
} else {
  paste(b, " is lesser than ", a)
}

# &	Element-wise Logical AND operator. It returns TRUE if both elements are TRUE
# &&	Logical AND operator - Returns TRUE if both statements are TRUE
# |	Elementwise- Logical OR operator. It returns TRUE if one of the statements is TRUE
# ||	Logical OR operator. It returns TRUE if one of the statements is TRUE.
# !	Logical NOT - returns FALSE if statement is TRUE

[1] "33  is lesser than  200"

In [44]:
# nested if
a <- 33
b <- 33

if (b > a) {
  paste(b, "is greater than", a)
} else if (a == b) {
  paste(b, "and", a, "are equal")
} else {
  paste(b, "is lesser than", a)
}

"Another example"
x <- 41

if (x > 10) {
  print("Above ten")
  if (x > 20) {
    print("and also above 20!")
  } else {
    print("but not above 20.")
  }
} else {
  print("below 10.")
}

[1] "33 and 33 are equal"

[1] "Another example"

[1] "Above ten"
[1] "and also above 20!"

In [46]:
# AND Operator
a <- 200
b <- 33
c <- 500

if (a > b & a > c) {
  paste(a, "is greater than", b, "and", c)
} else if (b > a & b > c) {
    paste(b, "is greater than", a, "and", c)
} else {
    paste(c, "is greater than", a, "and", b)
}

[1] "500 is greater than 200 and 33"

In [49]:
# OR Operator
a <- 200
b <- 33
c <- 500

if (a > b | a > c) {
  print("At least one of the conditions is true")
}

[1] "At least one of the conditions is true"

In [59]:
# While Loop
i <- 5
while (i < 10) {
    print(i)
    i <- i + 1
}

[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [62]:
# with break
i <- 50
while (i > 10) {
    print(i)
    i <- i + 1
    if (i == 57) {
        break
    }
}

[1] 50
[1] 51
[1] 52
[1] 53
[1] 54
[1] 55
[1] 56

In [64]:
# With NEXT
i <- 1
while (i < 10) {
    i <- i + 1
    if (i == 4) {
        next
    }
    print(i)
}

[1] 2
[1] 3
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [66]:
# Example
dice <- 1
while (dice <= 6) {
  if (dice < 6) {
    print("No Yahtzee")
  } else {
    print("Yahtzee!")
  }
  dice <- dice + 1
}

[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "Yahtzee!"

In [68]:
# FOR LOOP
# instead of range like pythin we use (x in 1:5)
for (x in 1:5) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [71]:
fruits <- list("apple", "banana", "cherry", "Oranges", "Pears", "Kiwi")

for (x in fruits) {
    if (x == "banana") {
        next
    } 
    if (x == "Oranges") {
        break
    }
    print(x)
}

[1] "apple"
[1] "cherry"

In [72]:
adj <- list("red", "big", "tasty")

fruits <- list("apple", "banana", "cherry")
  for (x in adj) {
    for (y in fruits) {
      print(paste(x, y))
  }
}

[1] "red apple"
[1] "red banana"
[1] "red cherry"
[1] "big apple"
[1] "big banana"
[1] "big cherry"
[1] "tasty apple"
[1] "tasty banana"
[1] "tasty cherry"

In [73]:
# Functions
my_function <- function(fname) {
  paste(fname, "Griffin")
}

my_function("Peter")
my_function("Lois")
my_function("Stewie")

[1] "Peter Griffin"

[1] "Lois Griffin"

[1] "Stewie Griffin"

In [74]:
# Default Parameter Value
my_function <- function(country = "Norway") {
  paste("I am from", country)
}

my_function("Sweden")
my_function("India")
my_function() # will get the default value, which is Norway
my_function("USA")

[1] "I am from Sweden"

[1] "I am from India"

[1] "I am from Norway"

[1] "I am from USA"

In [75]:
my_function <- function(x) {
  return (5 * x)
}

print(my_function(3))

[1] 15

In [76]:
# Nested functions
Nested_function <- function(x, y) {
  a <- x + y
  return(a)
}

Nested_function(Nested_function(2,2), Nested_function(3,3))

[1] 10

In [77]:
Outer_func <- function(x) {
  Inner_func <- function(y) {
    a <- x + y
    return(a)
  }
  return (Inner_func)
}
output <- Outer_func(3) # To call the Outer_func
output(5)

[1] 8

In [78]:
# Recursions
tri_recursion <- function(k) {
  if (k > 0) {
    result <- k + tri_recursion(k - 1)
    print(result)
  } else {
    result = 0
    return(result)
  }
}
tri_recursion(6)

[1] 1
[1] 3
[1] 6
[1] 10
[1] 15
[1] 21

In [79]:
# If you use the assignment operator <<-, the variable belongs to the global scope:

my_function <- function() {
txt <<- "fantastic"
  paste("R is", txt)
}

my_function()

print(txt)

[1] "R is fantastic"

[1] "fantastic"

In [80]:
# To change the value of a global variable inside a function, refer to the variable by using the global assignment operator <<-:
txt <- "awesome"
my_function <- function() {
  txt <<- "fantastic"
  paste("R is", txt)
}

my_function()

paste("R is", txt)

[1] "R is fantastic"

[1] "R is fantastic"

In [5]:
# Vectors
vec1 <- c("Apple", "Banana", "Cherry")
vec2 <- c(14, 12, 15.2)
vec3 <- 1:15
vec4 <- 1.5:6.4
'Vector 1'
vec1
'Vector 2'
vec2
'Vector 3'
vec3
'Vector 4'
vec4

[1] "Vector 1"

[1] "Apple"  "Banana" "Cherry"

[1] "Vector 2"

[1] 14.0 12.0 15.2

[1] "Vector 3"

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

[1] "Vector 4"

[1] 1.5 2.5 3.5 4.5 5.5

In [6]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [ ]:
# Properties of  Vectors